*{
    box-sizing: border-box;
    padding: 0;
    margin:0
}
body {
    background-color:tan;
}
img {
    border-radius: 58px;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 55px;
}
h1 {
    text-align:center;
    font-size:36px;
}

#span {
    font-size:48px;
    font-weight:bold;
    font-style:italic;
    color: aquamarine
}


h2 {
    text-align: center;
}

p {
    text-align: center;
}
.life {
    
    font-style: italic;

} 
h3 {
    text-align: center;
}

.btn {
    margin-left: 650px;
    padding: 25px;
}
footer{
    position:sticky;
    text-align:center;
}
.jumbotron {
    height: 330px;
}
.flex-container {
    display: flex;
}
#mexico {
    padding-left: 90px;
}
#utah {
    padding-left: 90px;
}
#india {
    padding-left: 90px;
}